<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="margin: 100px 0 20px;">Tracking View</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-shopping-cart fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"> <%= @orders_count %></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Total Orders</span>
                    <span class="pull-right"></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-stack-overflow fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @orders_quantity %></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Total Quantity</span>
                    <span class="pull-right"></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-dollar fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= number_to_currency(@sales.to_f.round(2), :unit => "$") %></div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Total Sales</span>
                    <span class="pull-right"></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-home fa-3x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @shops.count %> </div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">Total Shops</span>
                    <span class="pull-right"></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <%= form_tag landing_index_path, :method => 'get' do %>
                <div class="col-lg-1 col-md-1">
                    <%= hidden_field_tag 'fulfilled', "fulfilled" %>
                    <%= submit_tag 'Fulfilled', :class => "hidden", :id => 'form_submit_button' %>
                    <%= content_tag(:a, 'Fulfilled', :name => 'submit', :id => 'submit_link') %>
                </div>
            <% end %>

            <%= form_tag landing_index_path, :method => 'get' do %>
                <div class="col-lg-1 col-md-1">
                    <%= hidden_field_tag 'unfulfilled', "unfulfilled" %>
                    <%= submit_tag 'Unfulfilled', :class => "hidden", :id => 'form_submit_button' %>
                    <%= content_tag(:a, 'Unfulfilled', :name => 'submit', :id => 'submit_link') %>
                    
                </div>
            <% end %>

            <%= form_tag landing_index_path, :method => 'get' do %>
                <div class="col-lg-1 col-md-1">
                    <%= hidden_field_tag 'cancelled', "cancelled" %>
                    <%= submit_tag 'Cancelled', :class => "hidden", :id => 'form_submit_button' %>
                    <%= content_tag(:a, 'Cancelled', :name => 'submit', :id => 'submit_link') %>
                    
                </div>
            <% end %>

            <%= form_tag landing_index_path, :method => 'get' do %>
                <div class="col-lg-1 col-md-1">
                    <%= hidden_field_tag 'archived', "archived" %>
                    <%= submit_tag 'Archived', :class => "hidden", :id => 'form_submit_button' %>
                    <%= content_tag(:a, 'Archived', :name => 'submit', :id => 'submit_link') %>
                    
                </div>
            <% end %>

            <%= form_tag landing_index_path, :method => 'get' do %>
                <div class="col-lg-3 col-md-6">
                    <%= link_to "All-Shops", landing_index_path %> |
                    <%= select_tag "shop_id", options_for_select(Shop.all.collect{|x| [x.shopify_domain, x.id]}, {:prompt => "--Select Shop--"}) %>
                    
                </div>
                <%= submit_tag "Search", :name => nil %>
            <% end %>
        </div>
    </div>
</div>
<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <%= form_tag landing_index_path, :method => 'get' do %>
                <div class="col-lg-3 col-md-6">
                    <p>     
                        <%= text_field_tag :billed_to_search, params[:billed_to_search], placeholder: "Billed To" %>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <p>
                        <%= text_field_tag :shipped_to_search, params[:shipped_to_search], placeholder: "Shipped To" %>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <p>
                        <%= text_field_tag :item_search, params[:item_search], placeholder: "Item Name" %>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <p>
                        <%= text_field_tag :tracking_number, params[:tracking_number], placeholder: "Tracking Number" %>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <p>
                        <%= text_field_tag :sku_search, params[:sku_search], placeholder: "SKU" %>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <p>
                        <%= text_field_tag :order_name_search, params[:order_name_search], placeholder: "Order Name" %>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6">
                    <p>
                        <%= text_field_tag :free_text_search, params[:free_text_search], placeholder: "Free Text Search" %>
                    </p>
                </div>
                <%= submit_tag "Search", :name => nil %>
            <% end %>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Order Name</th>
                            <th>Parent Order</th>
                            <th>Status</th>
                            <th>Billed To</th>
                            <th>Shipped To</th>
                            <th>Tracking Number</th>
                            <th>Quantity</th>
                            <th>Amount</th>
                            <th>Shipped Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @orders.each do |order| %>
                            <tr class="odd gradeX">
                                <td><%= order.try(:order_number) %></td>
                                <td class="text-right"><%= order.try(:shop).try(:shopify_domain).truncate(20) %></td>
                                <td><%= order.try(:fulfillment_status) %></td>
                                <td><%= order.try(:billing_address).try(:city) %></td>
                                <td class="center"><%= order.try(:shipping_address).try(:city) %></td>
                                <td class="text-right"><%= order.try(:shopify_tracking_id).try(:truncate, 20) %></td>
                                <td class="text-right"><%= order.try(:line_items).try(:sum, :quantity) %></td>
                                <td class="text-right"><%= number_to_currency(order.try(:amount).to_f.round(2), :unit => "$") %></td>
                                <td class="center"><td>
                            </tr>
                        <% end %>
                        
                    </tbody>
                </table>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<%= will_paginate @orders, renderer: BootstrapPagination::Rails %>
<script type="text/javascript">
    $('#will_paginate_id').bind('click', function(event){
        window.scrollTo(0,0);
        // Some code to show loader on screen
        $('#loading').html('Loading');
    });

    $(document).ready(function() {
    $(document).on("click","#submit_link",function() {
        $('#form_submit_button').click();
    });
});
</script>

<style type="text/css">
    #shop_id{
        width: 140px;
    }
</style>
